*.class

# Package Files #

*.war
*.ear
*.orig
*.iml
*.eml
Project/Solar-html/war/*
.metadata*
Project/Solar-html/gwt-unitCache/*
Project/Solar-android/bin/*
Project/.idea/*
SOLAR/*
Solar/*

Project/assets/data/Rings_Uranus_old.png
Project/assets/data/Rings_Jupiter_old.png
Project/assets/data/Rings_Saturn_old.png
Project/assets/data/Rings_Neptune_old.png
Project/UML/PhysicsPackage2.uml
shaders.txt
*.uml
Project/target/MANIFEST.MF